# Entorno virtual de Python
/.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Artefactos de instalación y distribución
*.egg-info/
dist/
build/
*.tar.gz

# Bases de datos
*.db
*.sqlite3

# Cachés de herramientas de desarrollo
/.pytest_cache/
/.ruff_cache/
.mypy_cache/

# Configuraciones de IDEs/editores
/.ropeproject/
/.vscode/
/.idea/
*.sublime-workspace
*.sublime-project

# Archivos de swap y respaldo de editores (ej. Neovim, Vim)
*~
*.swp
*.swo

# Archivos de registro
*.log
*.log.*

# Archivos generados por MkDocs
/site/

# Archivos de configuración local (si se usan)
.env
.flaskenv

# Binarios y ejecutables (si se generan)
*.exe
*.dll
*.so
*.dylib

# Docker
Dockerfile